@page
@model KsiegarniaProject.Pages.Account.LoginModel
@{
}

<div class="container border" style="padding: 20px">
    <h1 class="mb-4" style="text-align:center">Zaloguj się</h1>
    <form method="post" style="max-width:60%; margin: auto">
        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
        <div class="form-outline mb-2">
            <span class="text-danger" asp-validation-for="Credential.UserName"></span>
            <input type="text" asp-for="Credential.UserName" class="form-control form-control-lg" />
            <label class="form-label" asp-for="Credential.UserName">Nazwa użytkownika</label>
        </div>

        <div class="form-outline mb-2">
            <span class="text-danger" asp-validation-for="Credential.Password"></span>
            <input type="password" asp-for="Credential.Password" class="form-control form-control-lg" />
            <label class="form-label" asp-for="Credential.Password">Hasło</label>
        </div>

        <div class="row mb-4">
            <input class="btn btn-dark btn-lg btn-block" type="submit" value="Zaloguj" />
        </div>
    </form>
</div> 