@page "/Login"
@model LoginModel
@{
    ViewData["Title"] = "Logowanie";
    Layout = "_InputViewLayout";
}

<h3 class="mb-2 pb-2 pb-md-0 mb-md-3 px-md-2">Zaloguj się</h3>

<form asp-route-returnUrl="@Model.ReturnUrl" class="px-md-2" method="post">
    <div class="form-outline mb-2">
        <span asp-validation-for="LoginUser.UserName" class="text-danger"></span>
        <input type="text" asp-for="LoginUser.UserName" class="form-control" />
        <label class="form-label" asp-for="LoginUser.UserName"></label>
    </div>
    <div class="form-outline mb-2">
        <span asp-validation-for="LoginUser.Password" class="text-danger"></span>
        <input type="password" asp-for="LoginUser.Password" class="form-control" />
        <label class="form-label" asp-for="LoginUser.Password"></label>
    </div>

    <div class="mb-4">
        <div class="form-check">
            <label asp-for="LoginUser.RememberMe">
                <input asp-for="LoginUser.RememberMe" />
                @Html.DisplayNameFor(m => m.LoginUser.RememberMe)
            </label>
        </div>
    </div>
    <button type="submit" class="btn btn-success btn-lg mb-1">Zaloguj</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
