@page "/ProfileEdit/{id}"
@model KsiegarniaProject.Pages.ProfileFunctions.ProfileEditModel
@{
    ViewData["Title"] = "Edytuj Swój Profil";
    Layout = "_InputViewLayout";
}

<h3 class="mb-2 pb-2 pb-md-0 mb-md-3 px-md-2">Zmień informacje</h3>

<form asp-route-returnUrl="@Model.ReturnUrl" class="px-md-2" method="post">
    <div class="form-outline mb-2">
        <span asp-validation-for="EditUser.FirstName" class="text-danger"></span>
        <label class="form-label" asp-for="EditUser.FirstName"></label>
        <input type="text" asp-for="EditUser.FirstName" class="form-control" placeholder="" />
    </div>
    <div class="form-outline mb-2">
        <span asp-validation-for="EditUser.LastName" class="text-danger"></span>
        <label class="form-label" asp-for="EditUser.LastName"></label>
        <input type="text" asp-for="EditUser.LastName" class="form-control" placeholder="" />
    </div>
    <div class="form-outline mb-2">
        <span asp-validation-for="EditUser.UserName" class="text-danger"></span>
        <label class="form-label" asp-for="EditUser.UserName"></label>
        <input type="text" asp-for="EditUser.UserName" class="form-control" placeholder="Podaj nazwę użytkownika" />
    </div>
    <div class="form-outline mb-2">
        <span asp-validation-for="EditUser.Email" class="text-danger"></span>
        <label class="form-label" asp-for="EditUser.Email"></label>
        <input type="email" asp-for="EditUser.Email" class="form-control" placeholder="Podaj email" />
    </div>
    <div class="form-outline mb-2">
        <span asp-validation-for="EditUser.OldPassword" class="text-danger"></span>
        <label class="form-label" asp-for="EditUser.OldPassword"></label>
        <input type="password" asp-for="EditUser.OldPassword" class="form-control" placeholder="Nie wpisuj jeśli nie zmieniasz" />
    </div>
    <div class="form-outline mb-2">
        <span asp-validation-for="EditUser.NewPassword" class="text-danger"></span>
        <label class="form-label" asp-for="EditUser.NewPassword"></label>
        <input type="password" asp-for="EditUser.NewPassword" class="form-control" placeholder="Tak jak powyżej" />
    </div>
    <button type="submit" class="btn btn-success btn-lg mb-1">Zmień</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
