@page
@model KsiegarniaProject.Pages.BookFunctions.BookAddModel
@{
    Layout = "_InputViewLayout";
    ViewData["Title"] = "Dodaj Książkę";
}

<script>
    $(document).ready(function (){
        $('#categoryName').autocomplete({
            source: '@Url.Page("BookAdd","search")'
        });
    });
 
</script>


<h3 class="mb-2 pb-2 pb-md-0 mb-md-3 px-md-2">Dodaj książkę do listy</h3>

<form class="px-md-2" method="post">
    <div class="form-outline mb-2">
        <span asp-validation-for="newBook.Title" class="text-danger"></span>
        <label class="form-label" asp-for="newBook.Title"></label>
        <input type="text" asp-for="newBook.Title" class="form-control" placeholder="Podaj tytuł książki" />
    </div>

    <div class="form-outline mb-2">
        <span asp-validation-for="newBook.temp" class="text-danger"></span>
        <label class="form-label" asp-for="newBook.temp"></label>
        <input type="text" asp-for="newBook.temp" class="form-control" placeholder="Podaj imię i nazwisko Autora" />
    </div>

    <div class="form-outline mb-2">
        <span asp-validation-for="newBook.Price" class="text-danger"></span>
        <label class="form-label" asp-for="newBook.Price"></label>
        <input type="" asp-for="newBook.Price" class="form-control" placeholder="Podaj Cenę" />
    </div>

    <div class="form-outline mb-2">
        <span asp-validation-for="newBook.Quantity" class="text-danger"></span>
        <label class="form-label" asp-for="newBook.Quantity"></label>
        <input type="number" asp-for="newBook.Quantity" class="form-control" placeholder="Podaj ilość" />
    </div>

    <div class="form-outline mb-2">
        <span asp-validation-for="newBook.BookCategories" class="text-danger"></span>
        <label class="form-label" asp-for="newBook.BookCategories"></label>
        <input type="text" list="categoryList" multiple size="50" asp-for="newBook.BookCategories" class="form-control" placeholder="Podaj kategorie oddzielone przecinkiem (bez spacji)" />
        <datalist id="categoryList">
            @foreach (string s in @Model.categoryList)
            {
                <option value="@s"/>
            }
        </datalist>
    </div>

    

    <button type="submit" class="btn btn-success btn-lg mb-1">Dodaj</button>
</form>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    
}